extends ../../shared/layout/singlePage

block title-content
    title Piroll - project

block body-content
    .container.container-fixed
        span.pe-7s-home.pe-2x pe-7s-home
        ul.pe-ul
            li
                i.pe-li.pe-7s-star.pe-spin
                | List icons (like these)
            li
                i.pe-li.pe-7s-star.pe-spin
                | List icons (like these)
            li
                i.pe-li.pe-7s-star.pe-spin
                | List icons (like these)