include ./../title/title

.container#process
    .container-fixed
        .process
            +title('Our Work Process')
            p.content
                | Was years it seasons was there form he in in them together over that,
                | third sixth gathered female creeping bearing behold years.
            p.video-content
                video(src="video/it-dev.mp4" type="video/mp4" controls)
