extends ../../shared/layout/separatePage

block title-content
    title Piroll - home

block body-content
    include ../../components/process/process
    include ./../../components/services/services
    include ../../components/works/works
    include ./../../components/clients/clients

    include ../../components/testimonials/testimonials