doctype html
html
    head
        include ../head_metadate/head_metadate
        block title-content
    body
        .wrapper-global
            include ../../components/header/headerLending

            block body-content

            include ../../components/footer/footer