@import "./../../shared/styles/functions";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.about .content {
  width: width-of-element(2);
  display: flex;
  align-items: center;
  padding-bottom: 39px;
  text-align: center;
}

@media screen and (max-width: width-break-screen(3)) {
  .about {
    padding: 50px 0;
  }

  .about .content {
    width: auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
