include ./../title/title
include skill-item

.container.container__skills
    .container-fixed.container-fixed__skills
        .skills
            +title('Professional Skills')
            +skill-item('UI/UX Design',75)
            +skill-item('web development',90)
            +skill-item('marketing',65)
        .skill-img