extends ../../shared/layout/singlePage

block title-content
    title Piroll - index

block body-content
    include ./../../components/banner/banner
    include ./../../components/about/about
    include ../../components/skills/skills
    include ./../../components/numbers/numbers
    include ../../components/works/works
    include ../../components/process/process
    include ./../../components/services/services
    include ../../components/testimonials/testimonials
    include ./../../components/clients/clients
    include ./../../components/proposal/proposal
