include service-item

.container.container__services#services
    .container-fixed
        .services
            +service-item("pe-7s-diamond pe-3x", "ui / ux design", "Be set fourth land god darkness make it wherein own")
            +service-item("pe-7s-arc pe-3x", "web development", "A she'd them bring void moving third she'd kind fill")
            +service-item("pe-7s-phone pe-3x", "app / mobile", "Dominion man second spirit he, earth they're creeping")
            +service-item("pe-7s-joy pe-3x", "game design", "Morning his saying moveth it multiply appear life be")
            +service-item("pe-7s-plane pe-3x", "SEO / marketing", "Give won't after land fill creeping meat you, may")
            +service-item("pe-7s-star pe-3x", "photography", "Creepeth one seas cattle grass give moving saw give")
            +service-item("pe-7s-magic-wand pe-3x", "graphic design", "Open, great whales air rule for, fourth life whales")
            +service-item("pe-7s-paint-bucket pe-3x", "illustrations", "Whales likeness hath, man kind for them air two won't")







