include ../link/link

.container.container__footer
    footer.container-fixed
        p.footer-copyrighted
            span.footer-copyrighted-inc Piroll Design, Inc.
            span © 2017 Piroll. All rights reserved.
            span Designed by robirurk.

        p.footer-contacts
            span hello@pirolltheme.com
            span +44 987 065 908

        ul.footer-navigation
            li
                +link('Projects', '#')
            li
                +link('About', '#')
            li
                +link('Services', '#')
            li
                +link('Carreer', '#')

        ul.footer-navigation
            li
                +link('News', '#')
            li
                +link('Events', '#')
            li
                +link('Contact', '#')
            li
                +link('Legals', '#')

        ul.footer-social-net
            li
                +link('Facebook', '#')
            li
                +link('Twitter', '#')
            li
                +link('Instagram', '#')
            li
                +link('Dribbble', '#')

