$widthS : 320px;
$widthM : 480px;
$widthL : 768px;
$widthX : 960px;

$colorBackgroundLight : #f9f9f9;
$colorBackgroundMiddle : #ececec;

$colorMainLight : #fefefe;
$colorMainMiddle : #b9b9b9;
$colorMainDark : #454545;

$colorSecondaryLight : #edbfff;
$colorSecondaryMiddle : #745083;
$colorSecondaryDart : #322539;

$fontFamilyMain : 'Carrois Gothic', 'Open Sans Condensed', sans-serif;
$fontFamilySecondary : 'Open Sans Condensed', sans-serif;

$transparentMiddle : rgba(0, 0, 0, 0.25);