include number-item

.container.container__numbers
    .container-fixed
        .numbers
            +number-item('pe-7s-portfolio pe-4x', 548,'projects completed')
            +number-item('pe-7s-clock pe-4x', 1465,'working hours')
            +number-item('pe-7s-star pe-4x', 612,'positive feedbacks')
            +number-item('pe-7s-like pe-4x', 735,'happy clients')