.content__wrapper {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1.25fr 5fr;
}

.content__category {
    grid-column: 1/2;
    border: 1px solid rgba(0, 0, 1, 0.16);
}

.content__tab {
    grid-column: 2/3;
}

@media (max-width: 840px) {
    .content__wrapper {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .content__category {
        grid-column: 1 / 1;
    }

    .content__tab {
        grid-column: 1 / 1;
    }
}