.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__link {
    color: #6d6d6d;
    display: block;
    padding: 12px;
    transition: background-color 500ms;
}

.menu__item:hover {
    background: linear-gradient(to top, #79b260 0%, #92d774 100%);
    cursor: pointer;
}

.menu__item:hover .menu__link {
    color: #ffffff;
}

@media (max-width: 840px) {
    .menu__list {
        flex-wrap: wrap;
        padding: 12px 20px;
    }
}

@media (max-width: 500px) {
    .menu__list {
        flex-direction: column;
        align-items: center;
    }

    .menu__link {
        padding: 5px;
    }
}
