extends ../../shared/layout/separatePage

block title-content
    title Piroll - about

block body-content
    include ./../../components/banner/banner
    include ./../../components/about/about
    include ../../components/skills/skills
    include ./../../components/numbers/numbers
