include work-item
include ./../button/button

.container.container__works#work

    .container-fixed
        .works
            +work-item(1)
            +work-item(2)
            +work-item(3)
            +work-item(4)
            +work-item(5)
            +work-item(6)
            +work-item(7)
            +work-item(8)

    .container-fixed
        .work-load
            +button('load more work')
            //button